[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
env = "*"
pyqt5 = "*"
tinydb = "*"
fuzzysearch = "*"
notify-py = "*"
msgpack = "*"

[dev-packages]

[requires]
python_version = "3.11"
